body{
  background:url(calc.jpg) no-repeat fixed center;
  background-size: cover;
  }  
.calc-c{
  justify-items: center;
  align-items:center;
  margin-top: 50%;
}
input type {
  background:transparent;
}
  #clear{  
    float: left;  
    position: relative ;  
    display: block ;  
    background-color:#f297A0;  
  }  
  #clear:hover{  
    float: left;  
    display: block;  
    background-color: red;  
    margin-bottom: 15px;  
    box-shadow: 0 4px #cc7f86;  
  }  
  #clear: active{  
    float: left;  
    top: 4px;  
    display: block ;  
    background-color: #f297A0;  
    margin-bottom: 15px;  
    box-shadow: none;  
  }  
  h3{  
    text-align:center ;
    color:wheat;
    font-size: 109%;  
  }  
@media only screen and (max-width:1024px)
  /* For desktop: */
.calc-c{
  position: absolute;
    height:1000vh;
    width:1000vw;
}
h3{ 
  position: absolute;
  margin-top: 50%;
  left: 26%;
  
}


@media only screen and (max-width: 708px)
.calc-c{
  /* For mobile phones: */
    max-height:1000vh;
    max-width:1000vw;
}
h3{
  position:absolute;
  top:-45px;
  right:25%;
}
